@model OcellicsFundApp.ViewModels.FundDetailsViewModel

@{
    ViewBag.Title = "Annualised Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h2>@Model.Fund.Name</h2>
    <h4>Annualised Performance</h4>
</p>

<p>Only Two Year and Since Inception periods have been annualised</p>

<table id="table_id" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Effective Date</th>
            <th>Month to Date</th>
            <th>3 Month</th>
            <th>6 Month</th>
            <th>Year to Date</th>
            <th>One Year</th>
            <th>Two Year</th>
            <th>Since Inception</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var MonthlyReturn in Model.MonthlyReturns)
        {
        <tr>
            <td>@MonthlyReturn.EffectiveDate.ToShortDateString()</td>
            <td>@String.Format("{0:P4}", MonthlyReturn.MonthToDate)</td>
            <td>@String.Format("{0:P4}", MonthlyReturn.ThreeMonth)</td>
            <td>@String.Format("{0:P4}", MonthlyReturn.SixMonth)</td>
            <td>@String.Format("{0:P4}", MonthlyReturn.YearToDate)</td>
            <td>@String.Format("{0:P4}", MonthlyReturn.OneYear)</td>
            <td>@String.Format("{0:P4}", MonthlyReturn.TwoYear)</td>
            <td>@String.Format("{0:P4}", MonthlyReturn.SinceInception)</td>
        </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}